.brand-logo {
  height: 5rem;
  width: auto;
}

.header-item span {
  color: white;
}

.header-item:hover {
  border-bottom: 2px solid #F3C81C;
  border-radius: 40%;
  transition: border-radius 0.3s ease-in-out;
  -webkit-transition: border-radius 0.3s ease-in-out;
}

.header-item:hover span {
  color: #F3C81C;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
}

#navbar-toggle-btn {
  color: white;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 6.5rem; */
}

.dapp-brand:hover {
  cursor: pointer;
}

.connect-btn {
  background: transparent;
  border-radius: 5px;
  border: 2px solid #F3C81C;
  color: white;
  /* height: 2.5rem; */
}

.connect-btn:hover {
  color: #F3C81C;
}

.connect-btn:focus {
  box-shadow: none!important;
}

.flex-btn-group {
  flex-direction: row;
}

@media only screen and (max-width:576px) {
  .flex-btn-group {
    flex-direction: column;
  }
}